.photo-preview {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    outline: none;
    z-index: 1500;
}

.photo-preview-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.photo-preview-wrapper,
.photo-preview-container,
.photo-item {
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.photo-item{
    overflow: hidden;
}
.photo-item > img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
